* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  font-family:
    Inter,
    Arial,
    Helvetica,
    sans-serif;

  background: #061426;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
}

#root {
  min-height: 100vh;
  width: 100%;
}